@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Account deletion Page";
}

@model DataAccessLayer.Models.User
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Seach account</h2>
            <form asp-action="Delete" method="post">
                <div class="form-group mb-3">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}