@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Settings Page";
}

@model DataAccessLayer.Models.Userupdate
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">update password</h2>
            <form asp-action="Settings" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password_new" class="form-label">New Password</label>
                    <input asp-for="Password_new" class="form-control" required />
                    <span asp-validation-for="Password_new" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}